<!DOCTYPE html>
{% extends 'base.html' %}

{% block head %}
  <title>WebSocket Flask Client</title>
  <style>
    .circle {
      width: 100px;
      height: 100px;
      background-color: blue;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    /* Add some CSS to style the label */
    .message-label {
      width: 100%;
      margin-top: 10px;
      font-weight: bold;
    }
  </style>
{% endblock %}

{% block body %}
<div class='container m-2'>
  <div class="row">
    <h1>Send a message to the WebSocket Server</h1>
  </div>
  <div class="row">
    <!-- Use a textarea for multiline input -->
    <textarea class="form-control" id="message" placeholder="Type your message" required></textarea>
  </div>
  <div class="row m-5">
    <button type='button' class='btn btn-warning btn-lg mt-1' onclick="sendMessage()">Send</button>
  </div>
  <!-- Add the label below the button to display received messages -->
  <div class="row">
    <label class="message-label" id="messageLabel"></label>
  </div>
</div>

<script>
  function sendMessage() {
    const message = document.getElementById('message').value;
    const websocket = new WebSocket('wss://smart-led-server.onrender.com')

    websocket.onopen = function() {
      websocket.send(message);
      console.log('Message sent to WebSocket server:', message);
    };

    websocket.onmessage = function(event) {
      const response = event.data;
      console.log('Received from WebSocket server:', response);
      
      // Try to parse the response as JSON
      try {
        const list = JSON.parse(response);
        
        // Display each element of the received list below the next one
        const messageLabel = document.getElementById('messageLabel');
        list.forEach(item => {
          const itemElement = document.createElement('div');
          itemElement.textContent = item;
          messageLabel.appendChild(itemElement);
        });
      } catch (e) {
        // If parsing as JSON fails, display the response as is
        const messageLabel = document.getElementById('messageLabel');
        messageLabel.textContent = response;
      }

      websocket.close();
    };
  }

  // Listen for Enter key press to insert a newline
  document.getElementById('message').addEventListener('keydown', function(e) {
    if (e.keyCode === 13 && e.shiftKey === false) {
      e.preventDefault(); // Prevent the default Enter behavior (submitting the form)
      const textarea = document.getElementById('message');
      const start = textarea.selectionStart;
      const end = textarea.selectionEnd;
      const text = textarea.value;
      const newText = text.substring(0, start) + '\n' + text.substring(end);
      textarea.value = newText;
    }
  });
</script>

{% endblock %}

